.pagination {
  float: right;
  margin-right: 5px;
  margin-top: 15px;
}

.pagination li:first-child a {
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.pagination li:last-child a {
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.pagination .prev span, .pagination .next span {
  color: #000;
  cursor: not-allowed;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  padding: 0.5rem 0.75rem;
}

.pagination .first span {
  color: #000;
  cursor: not-allowed;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  border-right: none;
  padding: 0.5rem 0.75rem;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.pagination .last span {
  color: #000;
  cursor: not-allowed;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  border-left: none;
  padding: 0.5rem 0.75rem;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.pagination li a {
  color: #000;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
}

.pagination li.active a {
  pointer-events: none;
  cursor: auto;
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.pagination a:hover {
  z-index: 2;
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
  border-color: #007bff;
}
.dan_thuoc{
width: 20px;
margin-left: 10px;
margin-right: 10px;
margin-top: 20px;
}
.timeago{
  margin-left: 40px;
  font-weight: 300;
}
.inactive{
  color: #000;
  font-weight: 300;
  font-size: 11pt;
}
.bg-custom-info {
  display: inline-block;
  color: #fff!important;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  background-color: #55D8FE;
  width: 100%;
}

.bg-custom-success {
  display: inline-block;
  color: #fff!important;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  background-color: #5EE2A0;
  width: 100%;
}