.img {
  margin       : 0 auto;
  width        : 100%;
  height       : 100%;
  object-fit   : cover;
  border-radius: 20px;
}

/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  font-family        : 'Nunito', sans-serif;
  background-image   : url("education-and-graduation-background-hd-footage-090383359_prevstill.png");
  background-size    : cover;
  background-position: center;
}

.container {
  max-width : 420px;
  margin-top: 80px;
}
.container1 {
  max-width : 670px;
  margin-top: 80px;
}

.info {
  font-weight: bold;
  font-size  : 18px;
  margin     : 50px;
}

.top {
  height       : 60px;
  font-weight  : 600;
  font-size    : 22px;
  border-bottom: 2px double #d2d2d2;
  margin-bottom: 30px;
  padding-top  : 5px;
}

.form {
  padding         : 10px 30px;
  margin-bottom   : 30px;
  background-color: #ffffff;
  border          : 0px solid #ffffff;
  border-radius   : 10px;
}

.form-dk {
  padding         : 10px 30px;
  width           : 100%;
  margin-bottom   : 30px;
  background-color: #ffffff;
  border          : 0px solid #ffffff;
  border-radius   : 10px;
}

.btn {
  width: 100%;
}

.field-loginform-rememberme {
  margin-bottom: 0px;
}

#check {
  padding-top   : 7.5px;
  padding-bottom: 7.5px;
}

.partitioned {
  padding-left         : 15px;
  letter-spacing       : 39px;
  border               : 0;
  position             : sticky;
  background-image     : linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
  background-position  : bottom;
  background-size      : 49px 1px;
  background-repeat    : repeat-x;
  background-position-x: 35px;
  width                : 320px;
  min-width            : 220px;
}

.partitioned:focus {
  outline      : 0;
  outline-style: none;
  outline-width: 0;
}

.language {
  border: none;
  color : #9c9a9a;
}

button:focus {
  outline      : 0;
  outline-style: none;
  outline-width: 0;
}

#divInner {
  left    : 0;
  position: sticky;
}

#divOuter {
  margin-left: 25px;
  width      : 290px;
  overflow   : hidden;
}

#vietnam {
  border-bottom: 2px solid black;
  border-top   : none;
  border-left  : none;
  border-right : none;
  color        : black;
  font-weight  : bold;
  font-size    : 17px;
  background   : none;
}

#english {
  border    : none;
  color     : #9c9a9a;
  font-size : 17px;
  background: none;
}

.digit-group input {
  width           : 30px;
  height          : 50px;
  background-color: red;
  border          : none;
  line-height     : 50px;
  text-align      : center;
  font-size       : 24px;
  font-family     : 'Raleway', sans-serif;
  font-weight     : 200;
  color           : white;
  margin          : 0 2px;
}

.splitter {
  padding  : 0 5px;
  color    : white;
  font-size: 24px;
}

.prompt {
  margin-bottom: 20px;
  font-size    : 20px;
  color        : white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box
}

/* Full-width input fields */
/* form {
  align-content: center;
  padding      : 14px 20px;
  margin       : 8px 30%;
  border       : none;
  cursor       : pointer;
  max-width    : 600px;
  opacity      : 0.9;
} */

input[type=text],
input[type=password],
input[type=email] {
  padding           : 15px;
  margin            : 5px 0 22px 0;
  border            : 1px solid black;
  /* background     : #f1f1f1; */
  background        : white;
  display           : block;
  width             : 100%;
  /*height          : 50px;
  padding           : .375rem .75rem; */
  font-size         : 1.5rem;
  font-weight       : 400;
  line-height       : 1.1;
  color             : #495057;
  background-color  : #fff;
  background-clip   : padding-box;
  border            : 1.5px solid #ced4da;
  border-radius     : 0.75rem;
  box-shadow        : inset 0 0 0 transparent;
  transition        : border-color .15s ease-in-out, box-shadow .15s ease-in-out;

}

input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline         : none;
}

hr {
  border       : 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color           : white;
  padding         : 14px 20px;
  margin          : 8px 0;
  border          : none;
  cursor          : pointer;
  width           : 100%;
  opacity         : 0.9;
}


button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.loginbtn {
  padding         : 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
/* .signupbtn {
  float: left;
  width: 100%;
} */

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear  : both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {

  .cancelbtn {
    width: 100%;
  }
}