html, body {
    font-family: 'Nunito', sans-serif!important;
    height: 100%;
}

.list-unstyled {
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  height: 300px;
  overflow: auto;
}

#teacher_class {
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  height: 450px;
  overflow: auto;
}

.button_status_active {
  background: #28a645;
  padding: 6px;
  color: white;
  /* border: 1px solid indianred; */
  border-radius: 7px;
  font-size: 14px;
  display: block;
  text-align: center;
}

.button_status_noactive {
  background: #FF0000;
  padding: 6px;
  color: white;
  border-radius: 7px;
  font-size: 14px;
  display: block;
  text-align: center;
}

.group_action {
  position: absolute;
  top: 5px;
  right: 15px;
}

.my_form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card-child {
  margin: 15px;
}

.card-title {
  font-size: 20px!important;
  font-weight: 400;
  margin: 0;
}

.summary {
  padding-left: 15px;
  margin-top: 15px;
  padding-bottom: 10px;
}

.table {
  margin-bottom: 0px!important;
}

/* form step */

.md-stepper-horizontal {
  display: table;
  width: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 3px 8px -6px rgba(0, 0, 0, .50);
}

.md-stepper-horizontal .md-step {
  display: table-cell;
  position: relative;
  padding: 24px;
}

.md-stepper-horizontal .md-step:active {
  border-radius: 15% / 75%;
}

.md-stepper-horizontal .md-step:first-child:active {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.md-stepper-horizontal .md-step:last-child:active {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.md-stepper-horizontal .md-step:hover .md-step-circle {
  background-color: #757575;
}

.md-stepper-horizontal .md-step:first-child .md-step-bar-left, .md-stepper-horizontal .md-step:last-child .md-step-bar-right {
  display: none;
}

.md-stepper-horizontal .md-step .md-step-circle {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background-color: #999999;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
}

.md-stepper-horizontal.green .md-step.active .md-step-circle {
  background-color: #00AE4D;
}

.md-stepper-horizontal.orange .md-step.active .md-step-circle {
  background-color: #F96302;
}

.md-stepper-horizontal .md-step.active .md-step-circle {
  background-color: rgb(33, 150, 243);
}

.md-stepper-horizontal .md-step.done .md-step-circle:before {
  font-family: 'FontAwesome';
  font-weight: 100;
  content: "\f00c";
}

.md-stepper-horizontal .md-step.done .md-step-circle *, .md-stepper-horizontal .md-step.editable .md-step-circle * {
  display: none;
}

.md-stepper-horizontal .md-step.editable .md-step-circle {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.md-stepper-horizontal .md-step.editable .md-step-circle:before {
  font-family: 'FontAwesome';
  font-weight: 100;
  content: "\f040";
}

.md-stepper-horizontal .md-step .md-step-title {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 600;
}

.md-stepper-horizontal .md-step .md-step-title, .md-stepper-horizontal .md-step .md-step-optional {
  text-align: center;
  color: rgba(0, 0, 0, .26);
}

.md-stepper-horizontal .md-step.active .md-step-title {
  font-weight: 600;
  color: rgba(0, 0, 0, .87);
}

.md-stepper-horizontal .md-step.active.done .md-step-title, .md-stepper-horizontal .md-step.active.editable .md-step-title {
  font-weight: 600;
}

.md-stepper-horizontal .md-step .md-step-optional {
  font-size: 12px;
}

.md-stepper-horizontal .md-step.active .md-step-optional {
  color: rgba(0, 0, 0, .54);
}

.md-stepper-horizontal .md-step .md-step-bar-left, .md-stepper-horizontal .md-step .md-step-bar-right {
  position: absolute;
  top: 36px;
  height: 1px;
  border-top: 1px solid #DDDDDD;
}

.md-stepper-horizontal .md-step .md-step-bar-right {
  right: 0;
  left: 50%;
  margin-left: 20px;
}

.md-stepper-horizontal .md-step .md-step-bar-left {
  left: 0;
  right: 50%;
  margin-right: 20px;
}

.active-sortable-item {
    background-color: #55D8FE!important;
}

.sortable-item {
  border-radius: 5px;
  color: #fff;
  background-color: #007BFF;
  cursor: pointer;
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  border: 1px solid rgba(0, 0, 0, .125);
}

.sortable-item:first-child {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.sortable-item-empty {
  border: 1px solid #bdbbb7;
  border-radius: 10px;
  padding: 10px!important;
  min-height: 80px;
}

.profile-user-dmg {
    width: 100%;
    max-width: 160px;
    max-height: 160px;
    border: 3px solid #adb5db;
    margin: 0 auto;
    padding: 3px;
}

.checkin-item {
  font-size: 14px;
  position: relative;
}