.img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  font-family: 'Nunito', sans-serif;
  background-image: url("../img/education-and-graduation-background-hd-footage-090383359_prevstill.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
.title {
  font-weight: 800;
  font-size: 18px;
}
.top {
  background-color: rgba(0, 0, 0, 0.3);
}
.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #727272;
  border-radius: 20px;
  width: 36px;
  height: 36px;
  background-color: #424242;
  color: #fff !important;
}
.logout i {
  font-size: 24px;
}
.navbar {
  font-family: 'Nunito', sans-serif;
}
.school {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
}
.user {
  padding: 8px;
}
.container {
  max-width: 1140px;
}
.text-t {
  margin-top: 15px;
  text-transform: uppercase;
  font-weight: 800;
}
.item {
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  min-height: 195px;
  font-size: 12px;
  padding: 10px;
}
.item img {
  width: 50%;
}
@media (max-width: 824px) {
  .item {
    min-height: 150px;
  }
}
@media (max-width: 722px) {
  .item {
    font-size: 10px;
    min-height: 150px;
  }
  .item img {
    width: 60%;
  }
}
@media (max-width: 575px) {
  .item {
    font-size: 10px;
    height: auto;
  }
  .item img {
    width: 60%;
  }
}
@media (max-width: 320px) {
  .item {
    font-size: 8px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.data-item {
  background-color: #ffffff;
  border-radius: 20px;
  height: 100%;
  font-size: 12px;
}
.data-item .img-rounded {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 12vh;
}
.data-item .date-created {
  color: #d2d2d2;
}
.content {
  min-height: calc(100vh - 180px);
  margin: 20px 0;
}
.back-menu a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.back-menu i {
  font-size: 20px;
}
.main-footer {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1em;
  overflow: auto;
  width: 100%;
}
.my_form {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}
.breadcrumb {
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0);
}
.breadcrumb li a {
  padding-right: 5px;
  padding-left: 5px;
}
.float-sm-right {
  margin-bottom: 0;
}
.button_status_active {
  background: #28a645;
  padding: 6px;
  color: white;
  /* border    : 1px solid indianred; */
  border-radius: 7px;
  font-size: 14px;
  display: block;
  text-align: center;
}
.button_status_noactive {
  background: #FF0000;
  padding: 6px;
  color: white;
  border-radius: 7px;
  font-size: 14px;
  display: block;
  text-align: center;
}
.group_action {
  position: absolute;
  top: 5px;
  right: 15px;
}
.my_form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.card-child {
  margin: 15px;
}
.card-title {
  font-size: 20px !important;
  font-weight: 400;
  margin: 0;
}
.summary {
  padding-left: 15px;
  margin-top: 15px;
  padding-bottom: 10px;
}
.table {
  margin-bottom: 0px !important;
}
.search-block {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
.profile-user-img {
  border: 3px solid #adb5db;
  margin: 0 auto;
  padding: 3px;
  width: 100%;
  max-width: 160px;
  max-height: 160px;
}
.profile-username {
  font-size: 21px;
  margin-top: 5px;
}
.pagination {
  justify-content: center;
  margin-top: 3rem;
}
.pagination li {
  margin: 0 0.25rem;
}
.pagination .disabled span {
  color: #000;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 0.25rem;
  padding: 0.25rem 0.75rem;
}
.pagination li a {
  color: #000;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  border-radius: 0.25rem;
  padding: 0.25rem 0.75rem;
}
.pagination li.active a {
  pointer-events: none;
  cursor: auto;
  border-radius: 0.25rem;
  padding: 0.25rem 0.75rem;
  z-index: 1;
  color: #fff;
  background-color: #0697D8;
}
.pagination a:hover {
  z-index: 2;
  color: #fff;
  text-decoration: none;
  background-color: #0697D8;
  border-color: #0697D8;
}
.top-title {
  padding: 20px 0px;
}
.profile-item {
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 12px;
  height: 175px;
  padding: 20px 30px 5px 30px;
}
@media (max-width: 1100px) {
  .profile-item {
    height: 200px;
    padding: 20px 15px 5px 15px;
  }
}
@media (max-width: 824px) {
  .profile-item {
    height: 200px;
    padding: 20px 10px 5px 10px;
  }
}
@media (max-width: 722px) {
  .profile-item {
    font-size: 12px;
    height: 170px;
    padding: 15px 15px 5px 15px;
  }
}
@media (max-width: 575px) {
  .profile-item {
    font-size: 12px;
    height: 275px;
    padding: 20px 40px 5px 40px;
  }
}
@media (max-width: 414px) {
  .profile-item {
    font-size: 12px;
    height: 175px;
    padding: 20px 30px 5px 30px;
  }
}
@media (max-width: 320px) {
  .profile-item {
    font-size: 10px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px 15px 5px 15px;
    min-height: 170px;
  }
}
.img-index {
  margin: 0 auto;
  padding: 3px;
  width: 100%;
}
.img-index1 {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  padding: 1px;
  position: absolute;
}
.img-index-album {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  position: absolute;
}
.img-index-album1 {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.form-search {
  background-color: rgba(0, 0, 0, 0.3);
}
.form-search button {
  width: 100%;
}
.profile-item-mediagallery1 {
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 12px;
  height: 160px;
  font-weight: 800;
  position: relative;
}
.profile-item-mediagallery2 {
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 12px;
  height: 160px;
  font-weight: 800;
}
.profile-item-mediagallery {
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 12px;
  height: 160px;
  font-weight: 800;
}
.profile-item-mediagallery .div {
  padding-top: 12px;
}
.profile-item-mediagallery .div a {
  float: left;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
}
.profile-item-mediagallery .div span {
  float: right;
  font-size: 10px;
}
@media (max-width: 1152px) {
  .profile-item-mediagallery {
    font-size: 10px;
  }
  .profile-item-mediagallery .date {
    font-size: 10px;
  }
}
@media (max-width: 1100px) {
  .profile-item-mediagallery {
    height: 200px;
    padding: 20px 15px 5px 15px;
  }
  .profile-item-mediagallery .mediagallery_ul {
    text-align: center;
  }
}
@media (max-width: 824px) {
  .profile-item-mediagallery {
    height: 210px;
    padding: 20px 10px 5px 10px;
  }
}
@media (max-width: 722px) {
  .profile-item-mediagallery {
    font-size: 12px;
    height: 200px;
    padding: 15px 15px 5px 15px;
  }
}
@media (max-width: 575px) {
  .profile-item-mediagallery {
    font-size: 12px;
    height: 275px;
    padding: 20px 40px 5px 40px;
  }
}
@media (max-width: 414px) {
  .profile-item-mediagallery {
    font-size: 12px;
    height: 175px;
    padding: 20px 30px 5px 30px;
    text-align: center;
  }
}
@media (max-width: 320px) {
  .profile-item-mediagallery {
    font-size: 10px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px 15px 5px 15px;
    min-height: 170px;
  }
}
/* form step */
.md-stepper-horizontal {
  display: table;
  width: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 3px 8px -6px rgba(0, 0, 0, 0.5);
}
.md-stepper-horizontal .md-step {
  display: table-cell;
  position: relative;
  padding: 24px;
}
.md-stepper-horizontal .md-step:active {
  border-radius: 0.2%;
}
.md-stepper-horizontal .md-step:first-child:active {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.md-stepper-horizontal .md-step:last-child:active {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.md-stepper-horizontal .md-step:hover .md-step-circle {
  background-color: #757575;
}
.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
  display: none;
}
.md-stepper-horizontal .md-step .md-step-circle {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background-color: #999999;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
}
.md-stepper-horizontal.green .md-step.active .md-step-circle {
  background-color: #00AE4D;
}
.md-stepper-horizontal.orange .md-step.active .md-step-circle {
  background-color: #F96302;
}
.md-stepper-horizontal .md-step.active .md-step-circle {
  background-color: #2196f3;
}
.md-stepper-horizontal .md-step.done .md-step-circle:before {
  font-family: 'FontAwesome';
  font-weight: 100;
  content: "\f00c";
}
.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
  display: none;
}
.md-stepper-horizontal .md-step.editable .md-step-circle {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.md-stepper-horizontal .md-step.editable .md-step-circle:before {
  font-family: 'FontAwesome';
  font-weight: 100;
  content: "\f040";
}
.md-stepper-horizontal .md-step .md-step-title {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 600;
}
.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
  text-align: center;
  color: rgba(0, 0, 0, 0.26);
}
.md-stepper-horizontal .md-step.active .md-step-title {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.87);
}
.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
  font-weight: 600;
}
.md-stepper-horizontal .md-step .md-step-optional {
  font-size: 12px;
}
.md-stepper-horizontal .md-step.active .md-step-optional {
  color: rgba(0, 0, 0, 0.54);
}
.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
  position: absolute;
  top: 36px;
  height: 1px;
  border-top: 1px solid #DDDDDD;
}
.md-stepper-horizontal .md-step .md-step-bar-right {
  right: 0;
  left: 50%;
  margin-left: 20px;
}
.md-stepper-horizontal .md-step .md-step-bar-left {
  left: 0;
  right: 50%;
  margin-right: 20px;
}
.content_media {
  position: relative;
}
.container1 {
  position: relative;
  min-height: auto;
}
form div.required label:after {
  content: " * ";
  color: red;
}
.mediagallery {
  padding: 20px 0px;
}
.title-print {
  font-size: 28px;
  color: #43425d;
}
p.title-print {
  font-size: 28px;
  color: #43425d;
}
.content-print {
  font-size: 13px;
}
.align-end {
  text-align: end;
}
.button-print {
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 130px;
  height: 32px;
  background: #658cae;
}
.print p {
  font-size: 13px;
}
.print b {
  font-size: 13px;
}
#print {
  padding: 50px 0;
}
.th-fee {
  color: #a3a6b4;
}
.title-fee {
  background: #f5f6fa;
}
.p10 {
  padding-left: 20px;
}
.row1 {
  padding-top: 15px;
}
.row12 {
  border-bottom: 1px solid #f5f6fa;
}
.pb {
  padding-right: 50px;
}
.print-footer p {
  font-size: 15px;
}
.pt {
  margin-bottom: 20px;
}
.pl {
  padding-right: 20px;
}
.pl2 {
  padding-left: 60px;
}
@media print {
  .title-print {
    font-size: 28px;
    color: #43425d;
  }
  p.title-print {
    font-size: 28px;
    color: #43425d;
  }
  .content-print {
    font-size: 13px;
  }
  .align-end {
    text-align: end;
  }
  .button-print {
    display: none;
  }
  .print p {
    font-size: 13px;
  }
  .print b {
    font-size: 13px;
  }
  #print {
    padding: 50px 0;
  }
  .th-fee {
    color: #a3a6b4;
  }
  .title-fee {
    background: #f5f6fa;
  }
  .p10 {
    padding-left: 20px;
  }
  .row1 {
    padding-top: 15px;
  }
  .row12 {
    border-bottom: 1px solid #f5f6fa;
  }
  .pb {
    padding-right: 50px;
  }
  .print-footer p {
    font-size: 15px;
  }
  .pt {
    margin-bottom: 20px;
  }
  .pl {
    padding-right: 20px;
  }
  .pl2 {
    padding-left: 40px;
  }
  .main-footer {
    display: none;
  }
  body {
    background: none;
  }
  .content-wrapper {
    background: none;
  }
  .dropdown_notification {
    width: 350px;
  }
}
.dropdown_notification {
  width: 380px;
}
.dan_thuoc {
  width: 25px;
  margin-left: 10px;
  margin-right: 10px;
}
.timeago {
  margin-left: 40px;
  font-weight: 300;
}
.inactive {
  color: #000;
  font-weight: 300;
  font-size: 11pt;
}
.color_dropdown {
  color: black;
  font-weight: 700;
}
.profile {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;
}
